.tresc {
    max-width: 700px;
    margin: auto;
    background-color: #eeebeb70;
}


.naglowek {

    color: #04000e93;
    background-color: rgba(43, 52, 80, 0.438);
    text-align: center;
}

.ciekawyElement {

    color: #a17fff;
}

.pudelko {

    color: #00070093;
}

.przycisk {

    color: #04000e93;
    background-color: rgba(43, 52, 80, 0.438);

}