html {

    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}



.tresc {
    max-width: 700px;
   
    margin: auto;
    background-color: #eeebebf1;
    padding: 20px;
    background-image: url("..//images/share_7.png");
    background-repeat: no-repeat ;
    font-size: 22px;

}


.naglowek {

    color: #04000e93;
    background-color: rgba(4, 26, 92, 0.438);
    text-align: center;
    
}

.ciekawyElement {

    color: #7445f5;
}

.pudelko {

    color: #00070093;
}

.przycisk {

    background-color: rgba(126, 155, 236, 0.637);
    visibility: visible;
    font-size: 20px;
    padding: 3px;
    border-radius: 5px;

}

.kolorPrzycisk {

    background-color:  rgba(22, 40, 90, 0.637);
}

.nuda {

    color: #04000e93;
    visibility: visible;

}